@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delicious+Handrawn&family=Poppins:wght@400;500;700;800&family=Quicksand:wght@400;500;600&family=Righteous&family=Sedgwick+Ave+Display&family=Ubuntu:wght@500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navbar{
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  background-color: #7189FF;
}

.navbar div a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
}
.navbar .active {
  background-color: #624CAB;
  color: #fff;
}

.nav-icons{
  font-size: 1.5rem;
  display: none;
}

.home-page > h2 {
  text-align: center;
}
.home-page{
  margin-top: 100px;
  color: #624CAB;
}
.home-page table {
  margin: 0 auto;
  text-align: left;
}
table{
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
}
table td, table th {
  padding: 10px 20px;
}
table button{
  width: 70px;
  padding: 5px 10px;
}
table thead {
  background-color: #7189FF;
  color: #fff;
}
table > tbody > tr{
  background-color: #e6eaff;
}
table > tbody > tr:nth-child(even){
  background-color: #d3daff;
}
table > tbody > tr:last-child{
  border-bottom: 2px solid #624CAB;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.edit-btn{
  background-color: #dc7100;
}
.delete-btn {
  background-color: rgb(209, 10, 10);
}
.edit-btn:hover, .delete-btn:hover {
  background-color: #000000;
}
.add-employee-page{
  max-width: 400px;
  margin: 50px auto;
}
.add-employee-page > form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 60px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.add-employee-page > form > input {
  outline: none;
  border: none;
  border: 2px solid #624CAB;
  padding: 10px 15px;
  border-radius: 5px;
}
.add-employee-page h2{
  color: #624CAB;
  text-align: center;
}
.add-employee-page > form > button {
  background-color: #624CAB;
  padding: 10px;
}
.add-employee-page > form > button:hover{
  background-color: #000;
}
.error{
  font-size: 10px;
  color: red;
  margin-top: -20px;
  margin-left: 5px;
}
.error-page{
  margin: 100px auto;
  width: 60%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:50px
}
.error-page > a {
  text-decoration: none;
  background-color: #624CAB;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s; 
}
.error-page > a:hover {
  background-color: #000;
}
.contact-page {
  width: 50%;
  padding: 50px;
  margin: 50px auto;
  background-color: #7189FF;
  color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.navigation-links{
  transition: all .3s;
}
@media screen and (max-width:630px){
  table{
    font-size: 0.7rem;
  }
  table td, table th {
    padding: 5px 10px;
  }
  table button{
    width: 40px;
    padding: 5px 5px;
    font-size: 0.5rem;
  }
  .nav-icons{
    display: block;
  }
  .navbar h1 {
    font-size: 1rem;
  }
  .contact-page {
    width: 80%;
    font-size: 0.8rem;
  }
  .home-page {
    padding: 5px;
  }
  .home-page h2 {
    font-size: 0.8rem;
  }
  .navigation-links{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #7189FF;
    width: 100%;
    left: 0;
    top: -160px;
    border-bottom: 2px solid #464646;
  }
  .navigation-links.active {
    background-color: #7189FF;
    top: 60px;
  }
  .navbar{
    justify-content: space-between;
  }
  .add-employee-page{
    margin: 50px 10px;
  }
}